<div class="delete-modal-content">
  <!-- Warning Icon -->
  <div class="modal-icon">
    <mat-icon>warning</mat-icon>
  </div>
  
  <!-- Title -->
  <h2>Delete Client</h2>
  
  <!-- Client Name -->
  <div class="client-name-display">
    <mat-icon>person</mat-icon>
    <span>{{ data.name }}</span>
  </div>
  
  <!-- Warning Message -->
  <p class="warning-message">Are you sure you want to delete this client?</p>
  
  <!-- Warning List -->
  <div class="warning-list">
    <div class="warning-item">
      <mat-icon>close</mat-icon>
      <span>All client data will be permanently removed</span>
    </div>
    <div class="warning-item">
      <mat-icon>close</mat-icon>
      <span>All associated documents will be deleted</span>
    </div>
    <div class="warning-item">
      <mat-icon>close</mat-icon>
      <span>This action cannot be undone</span>
    </div>
  </div>
  
  <!-- Action Buttons -->
  <div class="modal-actions">
    <button class="cancel-button" (click)="onCancel()" [disabled]="isLoading">
      Cancel
    </button>
    <button class="delete-button" (click)="onConfirm()" [disabled]="isLoading">
      <mat-spinner *ngIf="isLoading" diameter="18"></mat-spinner>
      <mat-icon *ngIf="!isLoading">delete_forever</mat-icon>
      <span>{{ isLoading ? 'Deleting...' : 'Delete' }}</span>
    </button>
  </div>
</div>
