<div class="confirm-dialog-content">
  <!-- Icon -->
  <div class="dialog-icon" [class.warning]="data.type === 'warning'" [class.info]="data.type === 'info'" [class.danger]="data.type === 'danger'" [class.success]="data.type === 'success'">
    <svg *ngIf="data.type === 'warning'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="icon-svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
    </svg>
    <svg *ngIf="data.type === 'info'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="icon-svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <svg *ngIf="data.type === 'danger'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="icon-svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <svg *ngIf="data.type === 'success'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="icon-svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
  </div>
  
  <!-- Title -->
  <h2>{{ data.title }}</h2>
  
  <!-- Message -->
  <p class="dialog-message" *ngIf="!getMessageParts()">{{ data.message }}</p>
  <p class="dialog-message" *ngIf="getMessageParts()">
    {{ getMessageParts()!.before }}<strong class="highlight-text">{{ getMessageParts()!.highlight }}</strong>{{ getMessageParts()!.after }}
  </p>
  
  <!-- Action Buttons -->
  <div class="dialog-actions">
    <button class="cancel-button" (click)="onCancel()">
      {{ data.cancelText }}
    </button>
    <button class="confirm-button" [class.warning]="data.type === 'warning'" [class.info]="data.type === 'info'" [class.danger]="data.type === 'danger'" [class.success]="data.type === 'success'" (click)="onConfirm()">
      {{ data.confirmText }}
    </button>
  </div>
</div>
